*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 50px 0px;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.status{
    margin: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 10px;

}
.status:hover{
    transform: scale(1.25);
}
.count{
    font-size: 30px;
    color: blue;
}